<!-- layout is fixed and layout has a body part where the ejs files will be rendered
 so you have to put only the boday part -->
<!-- <link rel="stylesheet" href="/css/home.css"> -->


<div id="home-page">
  <% if(locals.user){ %>

  <h1> <%= title %></h1>
   
  <h1  contentEditable="true">Welcome !! <%= user.name %></h1>

                                  <!-- post input box  -->
  <section id="feed-posts">
  
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="POST">

      <textarea name="content" id="" cols="30" rows="5"></textarea>
      
      <button type="submit">&rsaquo;</button>

    </form>
   </div>
  
  </section>



  <% } else { %>

  <h1>Codeail / Please Sign In</h1>

  

  <% } %>

  <div id="posts-list-container">
    <ul> 
      <% for(post of posts) { %>
        
        <li>
          <p>
            <%= post.content %>
          </p>

          <!-- only when the user is signed in  -->
         <!-- Delete button is visible to the user you have create the post  -->
      <%   if(locals.user && locals.user.id == post.user.id) { %>
          <small id="delete-button">
            <!-- way to send id through link  -->
            <a href="/posts/destroy/<%= post.id %>"> Delete </a>
             
          </small>



          <% } %>

          <br>
          <small> <%= post.createdAt %> </small>
          <br>
           <small><i><%= post.user.name %></i> </small>

           <!-- adding the comment box in post display  -->
           <div class="post-comments">

           <% if(locals.user) { %>
            <!-- if user is singin then only add comment can take place  -->

            <form action="/comments/create" method="POST">

              <input type="text" name="content" placeholder="Add comment to post... ">
              <!-- here we are sending the current post_id so that comment is added on it  -->
              <input type="hidden" name="postId" value=" <%= post._id %>">
              <input type="submit" value="Add Comment">
            </form>

            <% } %>

           </div>

            <!-- showing the comment list  -->
            <div class="post-comment-lists">
              <ul id="post-comments-<%=post._id %>">
                <li>
                  <% if(post.comments.length > 0) { %>
                    <% for(comment of post.comments) { %>
                      <div>
                        <p>
                          <%= comment.content %>
                          
                        </p>
                        <small><%= comment.user.name %></small>

                        

                      </div>
                      
                      
      
                      <%} %>
                      <%} %>

                </li>
  
               
  
              </ul>
             </div>
    
        </li>
      <% } %>

    </ul>

  </div>

</div>
