<!-- layout is fixed and layout has a body part where the ejs files will be rendered
 so you have to put only the boday part -->
<!-- <link rel="stylesheet" href="/css/home.css"> -->

<section id="outer-box">

  <section id="feed-posts">
    <div id="home-page">
    
      <% if(locals.user){ %>
    
      <h1> <%= title %></h1>
       
      <h1  contentEditable="true">Welcome !! <%= user.name %></h1>
    
                                      <!-- post input box  -->
      
      
        <h4>Posts</h4>
        <!-- we don't have to provide an action because form data is scrapped by ajax  -->
        <!-- <form action="/posts/create" id="new-post-form" method="POST"> -->
        <form action="" id="new-post-form" method="POST">
    
          <textarea name="content" id="" cols="30" rows="5"></textarea>

          <!-- <input type="hidden" name="user-name" value="<%= user.name%>" > -->
          
          <button type="submit">&rsaquo;</button>
    
        </form>
    
       </div>
  
   
  
  <% } else { %>
  
    <h1>Codeail / Please Sign In</h1>
  
    
  
    <% } %>
  
    <div id="posts-list-container">
      <ul> 
        <% console.log(posts) %>
        <% for(post of posts) { %>
  
          <!-- _posts.ejs ko include kiya gaya hai  -->
          <%- include('_posts')-%>
  
        <% } %>
  
      </ul>
  
    </div>
  
  </div>
  
  </section>
  
  
  
  <section id="user-friends">
  
    <h4>Friends</h4>
    <ul>
      <% for(u of all_users) { %>
        <li>
          <p>
            <a href="/users/profile/<%= u.id %>"> <%= u.name %></a>
          </p>
        </li>
        
       <% } %>
  
    </ul>
  
  </section>

 

</section>

<!-- -----------------------------------------------------  -->
<!-- -------------- adding script from home_posts.ejs -------------------  -->
<!-- -----------------------------------------------------  -->
<script type="text/javascript"  src="/js/home_posts.js"> </script> 

<!-- import the script file for toggle likes , also run it over for the present post and comments 
 -->
<script src="/js/toggle_likes.js"></script>
<script>
  $('.toggle-like-button').each(function(){
    let self=this;
    let toggleLike=new ToggleLike(self)
  })
</script>





