<!-- layout is fixed and layout has a body part where the ejs files will be rendered
 so you have to put only the boday part -->
<!-- <link rel="stylesheet" href="/css/home.css"> -->

<div id="home-page">
  <% if(locals.user){ %>

  <h1> <%= title %></h1>
   
  <h1>Welcome !! <%= user.name %></h1>

  <section id="feed-posts">

    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="POST">

      <textarea name="content" id="" cols="30" rows="5"></textarea>
      
      <button type="submit">&rsaquo;</button>

    </form>

    <div id="posts-list-container">
      <ul> 
        <% for(post of posts) { %>
          
          <li>
            <p>
              <%= post.content %>
            </p>
            <br>
            <small> <%= post.createdAt %> </small>
            <br>
             <small><i><%= post.user.name %></i> </small>
            
           
               
          </li>
          <% } %>

      </ul>
    </div>




  </section>



  <% } else { %>

  <h1>Codeail / Please Sign In</h1>

  <% } %>
</div>
