<link rel="stylesheet" type="text/css" href="/css/user_profile.css" />

<div>
  <h1> 
    <% if(user.id == profile_user.id) { %>

     <b>Holla !</b> <br> 
     <%}  %>

     <%= profile_user.name%>   
     </h1>
</div>

<small id="text-preview" style="visibility: hidden; color: red; margin-bottom: 15px;">
  This a preview of Your Dp
</small>
<div id="avatar-preview-container">
  <img id="avatar-preview" src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>">
</div>
 
<div>
  <% if(user.id == profile_user.id) { %>

    <!-- updating box for  user profile  -->
    <!-- if user matches then show the form  -->
    <!-- else show only the user profile   -->
    <form id="avatar-form" action="/users/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
      <input type="file" id="avatar-input" name="avatar" placeholder="Your Profile Picture">
      <input type="text" name="name" placeholder="Enter your updated name" value="<%= profile_user.name %>" >
      <input type="email" name="email" placeholder="Enter your updated email" value="<%= profile_user.email %>" >
      <!-- <button id="preview-button" type="button">Preview</button> -->
      <button id="save-button" type="submit"  >Update</button>
    </form>
    
    <% } %>
   
    <!-- if the user matches  -->
  <p><%= profile_user.name %></p>
  <p><%= profile_user.email %></p>

  
</div>

<script type="text/javascript" src="/js/user_profile.js"></script>
